
body{
    font-family: Arial, Helvetica, sans-serif;
}


:root{
    --sb-darker: #2c3e50;
    --sb-success: #1abc9c;
    --sb-footer: #3a546d;

    --sb-font-light: #ffffff;
    --sb-font-dark: #2c3e50;
    --sb-font-darker: #333333;
}



/* #region header */

header{
    height: 70px;
    background-color: var(--sb-darker);
}


/* #endregion header */


/* #region main */
.light{
    color: var(--sb-font-light);
}

.dark{
    color: var(--sb-font-dark);
    
}

.bg_light{
    background-color: var(--sb-font-light);
}

.bg_dark{
    background-color: var(--sb-darker);
}

.bar{
    height: 3px;
    width: 10% ;
    border-radius: 20px;
}

h2{
    font-size: 40px;
    font-weight: 600;
}

/**********************************************************

                        JUMBOTRON

**********************************************************/

.jumbotron, .about{
    background-color: var(--sb-success) ;
}

h1{
    font-size: 52px;
}


/**********************************************************

                        PORTFOLIO

**********************************************************/

.portfolio img{
    width: 100%;
    border-radius: 15px;
}


/* #endregion main */


/* #region footer */

footer{
    background-color: var(--sb-footer);
}

footer li{
    width: 50px;
    aspect-ratio: 1 / 1;
}

.fa-brands{
    line-height: 48px;
}

footer p > a{
    color: var(--sb-success);
}

.copyright{
    background-color: var(--sb-darker);
}
/* #endregion footer */